*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: brown;
}


.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.App h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  user-select: none;
  text-shadow: 1.5px 30px blue;
  animation: fontResize 3s forwards ease-in-out;
  transition: text-shadow 2s ease;
}

@keyframes fontResize {
  from{
    font-size: 40px;
  }

  to{
    font-size: 55px;
    
  }
}

